* {
    margin: 0;
    padding: 0;
}

body {
    background: #273746;
    font-size: 13px;
    font-family: Arial, helvetica, sans-serif;
		color: white;
    width: 800px;
    margin: auto;
		line-height: 1.4em;
}

a:link {
	color:#CACFD2;
	text-decoration: none;
}
a:visited {
	color:#CACFD2;
	text-decoration: underline;
}
a:hover {
	color: white;
}
a:active{
	color: white;
	text-decoration: underline;
}

#mySketch {
	margin-bottom: 50px;
}

#mySketch img {
    height: 250px;
    width: 800px;
    float: left;
    display: block;
		margin-bottom: 50px;
}

#BlogHeader h1 {
    margin-top: 50px;
}


#main {
    width: 100%;
    float: left;
}

ol, ul {
    list-style: none;
}

h1 {
    margin-bottom: 10px;
    margin-top: 25%;
    text-align: center;
}

h2 {
	line-height: 1.3em;
	padding-bottom: 10px;
}

#column-one, #column-two, #column-three {
    float: left;
    width: 33%;
    text-align: center;
}

#entries {
	line-height: 25px;
}

footer {
		padding-top: 50px;
		height: 50px;
    clear: left;
    text-align: center;
}

footer a{
	padding: 0px 20px;
}
