* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

h1 {
    color: black;
    text-align: center;
    position: relative;
    top: 6px;
    font-family: 'Avenir', sans-serif;
    font-size: 36px;
}

#description {
    color: black;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
}

h2, h3 {
    margin: 10px;
    font-size: 1.2em;
}

h3 {
    font-sizes: 1em;
}

p {
    font-size: 0.88em;
    margin: 10px;
    text-align: left;
    position: relative;
    margin-left: 10px;
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
    background-color: white;
    padding: 0px 0;
    height: 10vh;
    max-height: 79px;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


/* MAP
––––––––––––––––––––––––––––––––––––––––––––––––––  */

#map {
    position: absolute;
    width: 100%;
    background: white;
    height: 90vh;
}

/* Click Popups
––––––––––––––––––––––––––––––––––––––––––––––––––  */

.mapboxgl-popup {
    background-color: white;
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


/* FEATURES / INFO WINDOW
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.map-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#features {
    position: absolute;
    top: 100px;
    height: 132px;
    width: 250px;
}


/* MENU
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#jobMenu {
  background-color: white;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 20px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

/* Link Color = White */
#jobMenu a {
  color: black;
  font-weight: bold;
  font-size: 13px;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* First Color = Teal */
#jobMenu a.active {
    background-color: #176853; /* #3887be = blue */
    color: white; // 077363 = Teal
}

#jobMenu a:hover {
    background-color: #115644; /* Dark Teal */
}

/* Link Hover Active State
#jobMenu a.active:hover {
    background: #3074a4;
} */

/* Button Color */
#salaryMenu {
    background: #636363;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 20px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

/* Link Color */
#salaryMenu a {
    font-size: 13px;
    color: white; /* 404040 original */
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* Link Hover */
#salaryMenu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

/* Link Active State */
#salaryMenu a.active {
    background-color: #3887be; // 3887be = blue
    color: #ffffff;
}

/* Link Hover Active State */
#salaryMenu a.active:hover {
    background: #3074a4;
}


/* STYLE MENU
––––––––––––––––––––––––––––––––––––––––––––––––––

#stylemenu {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    height: 112px;
    width: 90px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    font-family: Arial, sans-serif;
    z-index: 1;
    border-radius: 3px;
}
*/

/* LEGEND
––––––––––––––––––––––––––––––––––––––––––––––––––  */

.legend {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    top: 250px;
    right: 20px;
    z-index: 1;
    max-width: 70px;
    height: 145px;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}


/* FOOTER
––––––––––––––––––––––––––––––––––––––––––––––––––  */

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-height: 20px;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, .5);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

footer a {
    padding-right: 40px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #70C1B3;
}
