@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
  margin: 0px;
  padding: 0px
}

body {
  margin: auto;
  background-color: black;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

main {
  position: relative;
  width: 1200px;
  height: 1200px;
  background-color: teal;
  margin: auto;
  top: 80px;
  padding-top: 20px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

#tag {
  position: absolute;
  top: 284px;
  left: 84px;
}

#vandal {
  position: absolute;
  top: 288px;
  left: 427px;
}

#punch {
  position: absolute;
  top: 280px;
  left: 757px;
}

#bad {
  position: absolute;
  top: 725px;
  left: 110px;
}

#marvels {
  position: absolute;
  top: 730px;
  left: 432px;
}

#gb {
  position: absolute;
  top: 725px;
  left: 742px;
}

.answer {
  width: 300px;
  height: 200px;
  border: 6px solid white;
  position: absolute;
  top: 50px;
  left: 50%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.answer h2{
  position: relative;
  top: 40px;
}

.answer p {
  position: relative;
  width: 200px;
  border-radius: 200px;
  text-align: center;
  left: 40px;
  top: 40%;
  color: black;
  font-size: 0.8em;
}

.close {
  font-size: 3em;
  position: relative;
  margin-left: 85%;
  margin-top: -27%;
}
